* {
    margin: 0;
}

.para{
    margin-top: 12px;
}

.top-container {
    background-color: royalblue;
    border: 10px solid black;
    height: 200px;
    padding: 20px;
    width: 200px;
}

.middle-container {
    background-color: red;
    border: 20px solid black;
    margin-left: 260px;
    height: 200px;
    width: 200px;
}

.bottom-container {
    width: 200px;   
    margin-left: 500px;
    height: 200px;
    border: 10px solid black;
    background-color: yellow;
}