
.div1 {
    background-color: red;
    display: inline-block;
    height: 100px;
    position: relative;
    left: 200px ;
    width: 100px;

}

.div2 {
    background-color: blue;
    display: inline-block;
    height: 100px;
    position:relative;
    right: 100px;
    width: 100px;
}

.div3 {
    background-color: yellow;
    display: inline-block;
    position:relative;
    right: 105px;
    height: 100px;
    position: relative;
    width: 100px;
}